.btn {
  padding: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-sizing: content-box;
  border: 2px solid tomato;
  color: white;
  background-color: tomato;
  cursor: pointer;
  &:hover {
    pointer-events: auto;
    opacity: .8;
    color: tomato;
    background-color: white;
  }
  &:focus {
    box-shadow:0 0 0 4px aqua;
    opacity: .9 ;
  }
}